@import '_test';

html {
    background: blue;
    body {
        background: red;
        input {
            &::placeholder {
                color: red;
            }
        }
        background: url('./img/gulp.png') center no-repeat;
    }
}
